<!DOCTYPE html>
<html>
  <head>
    <title>OdioApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to("Home", "/") %>
      <%= link_to("About", "/about") %>
      <%= link_to("Engineers", "/engineers") %>
      <%= link_to("Add Engineer", "/engineers/new") %>
      <%= link_to("Artists", "/artists") %>
      <%= link_to("Add Artists", "/artists/new") %>

    </nav>

    <hr>
    <%= yield %>
    <hr>
  </body>
</html>
